<?xml version="1.0" encoding="UTF-8"?>
<web-app>

	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>viewInfo</servlet-name>
		<servlet-class>servlet.ViewInfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>viewInfo</servlet-name>
		<url-pattern>/viewinfo</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>LogoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

</web-app>
